DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

WAKE_WORD=señor gabriel

# Transcripción local (faster-whisper)
WHISPER_MODEL=small
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=es
NO_SPEECH_THRESHOLD=-1.0
NO_SPEECH_PROB_THRESHOLD=0.6

SAVE_SEGMENTS=0
SEGMENTS_DIR=segments

# TTS (edge-tts)
TTS_VOICE=es-AR-ElenaNeural
TTS_RATE=+0%

RELAY_TRANSCRIPTS=1
IGNORE_BOT_AUDIO=1

# Música
MUSIC_VOLUME=0.5
YDL_SLEEP_REQUESTS=0.5
